@model ManagementSystem.Models.CarInsurance

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CarInsurance</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarInsuranceDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarInsuranceDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarInsuranceValidUntil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarInsuranceValidUntil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarInsuranceImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarInsuranceImagePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarInfo.CarPlate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarInfo.CarPlate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CarInsuranceID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
