@model IEnumerable<ManagementSystem.Models.CarInsurance>

@{
    ViewData["Title"] = "Thông tin bảo hiểm xe";
}

<h1>Thông tin bảo hiểm</h1>

<p>
    <a asp-action="Create">Tạo mới</a>
</p>
<table id="carInsurance" class="table table-striped table-bordered table-hover display nowrap" style="width:100%">
    <thead>
        <tr>
            <th class="align-middle table-success">
                @Html.DisplayNameFor(model => model.CarInfo.CarPlate)
            </th>
            <th class="align-middle table-success">
                @Html.DisplayNameFor(model => model.CarInsuranceDate)
            </th>
            <th class="align-middle table-success">
                @Html.DisplayNameFor(model => model.CarInsuranceValidUntil)
            </th>
            <th class="align-middle table-success">
                @Html.DisplayNameFor(model => model.CarInsuranceImagePath)
            </th>

            <th class="align-middle table-success"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CarInfo.CarPlate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarInsuranceDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarInsuranceValidUntil)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarInsuranceImagePath)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.CarInsuranceID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CarInsuranceID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CarInsuranceID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts
    {


    <script>
        $(document).ready(function () {
            $('#carInsurance').DataTable
                ({
                    scrollX: true
                });
        }
        );
    </script>
}