@model ManagementSystem.Models.CarInspection

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CarInspection</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InspectionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InspectionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarInspectionValidUntil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarInspectionValidUntil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarInspectionImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarInspectionImagePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cars)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cars.CarID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CarInspectionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
