@model IEnumerable<ManagementSystem.Models.CarInspection>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cars.CarPlate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InspectionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarInspectionValidUntil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarInspectionImagePath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cars.CarPlate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InspectionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarInspectionValidUntil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarInspectionImagePath)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.CarInspectionID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CarInspectionID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CarInspectionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
