@model ManagementSystem.Models.Contact

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contact</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastCall)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastCall)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberNote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberNote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PIDInfor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PIDInfor.PeopleName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ContactID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
