@model ManagementSystem.Models.People

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>People</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeopleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeopleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeopleFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeopleFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeopleGende)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeopleGende)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeopleDateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeopleDateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeopleAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeopleAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeoplePIDNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeoplePIDNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeoplePIDDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeoplePIDDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeoplePIDPlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeoplePIDPlace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeoplePIDValidUntil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeoplePIDValidUntil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeopleImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeopleImagePath)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PeopleID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
