@model ManagementSystem.Models.CarModel

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết</h1>

<div>
    <h4>Loại xe</h4>
    <hr />

    <div class="row">
        <div class="col-md-4">
            <dl class="row">
                <dt class="col-md-6">
                    @Html.DisplayNameFor(model => model.CarModelVendor)
                </dt>
                <dd class="col-md-6">
                    @Html.DisplayFor(model => model.CarModelVendor)
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-md-6">
                    @Html.DisplayNameFor(model => model.CarModelModel)
                </dt>
                <dd class="col-md-6">
                    @Html.DisplayFor(model => model.CarModelModel)
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-md-6">
                    @Html.DisplayNameFor(model => model.CarModelNumberOfSeat)
                </dt>
                <dd class="col-md-6">
                    @Html.DisplayFor(model => model.CarModelNumberOfSeat)
                </dd>
            </dl>          

        </div>
        <div class="col-md-8">            
                <img src="@("~/img/CarModels/"+ Model.CarModelImageUrl)" asp-append-version="true" />           
        </div>
    </div>
    <dl class="row">          
        

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CarModelID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
