@model ManagementSystem.Models.CarModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CarModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarModelVendor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarModelVendor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarModelModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarModelModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarModelNumberOfSeat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarModelNumberOfSeat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarModelImageUrl)
        </dt>
        <dd class="col-sm-10">        
            <img id="blah" src="@("~/img/CarModels/"+ @Html.DisplayFor(model => model.CarModelImageUrl))"  />            
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CarModelID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
