@model IEnumerable<ManagementSystem.Models.CarModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách loại xe</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarModelVendor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarModelModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarModelNumberOfSeat)
            </th>           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@("~/img/CarModels/"+ item.CarModelImageUrl)" class="rounded w-auto" height="40" alt="..." asp-append-version="true">
                
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.CarModelVendor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarModelModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarModelNumberOfSeat)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CarModelID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CarModelID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CarModelID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
